/* You can add global styles to this file, and also import other style files */
@import './assets/highcharts.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e0e5ef;

}






/* Define the stop colors */
#gradient-0 stop {
	stop-color: #506ef9;
}
#gradient-0 stop[offset="0"] {
	stop-opacity: 0.25;
}
#gradient-0 stop[offset="1"] {
	stop-opacity: 0;
}

/* Apply the gradients */
// .highcharts-plot-background {
// 	fill: url(#gradient-1);
// }
.highcharts-color-0 {
  fill: #506ef9;
  stroke: #506ef9;
}
.highcharts-color-0 .highcharts-area {
	fill-opacity: 1;
	fill: url(#gradient-0);
}

